name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    permissions:
      contents: read
      security-events: write
    uses: ./.github/workflows/reusable-ci.yml
    with:
      all-features: true
    secrets: inherit
