name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  ci:
    permissions:
      contents: read
      security-events: write
    uses: ./.github/workflows/reusable-ci.yml
    with:
      all-features: true
    secrets: inherit
